.Regist {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.regist_conteiner {
  height: 70vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 120px;
  background-color: white;
  border-radius: 5%;
}

.regist_conteiner h1 {
  text-align: center;
}

.logo {
  text-align: center;
}

.success {
  color: green;
  text-align: center;
  font-size: 1.2em;
}

.loading {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: red;
  text-align: center;
}
