textarea {
  resize: revert !important;
}

.body {
  height: 90%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.picture img {
  height: 248px;
  width: 248px;
}

.picture_conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}

.picture {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% 0%;
  font-size: 6em;
  border: 2px #0e1e32 dashed;
}

.text_title_conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text_conteiner h2 {
  color: #0e1e32;
}

.text_conteiner {
  text-align: center;
}
.text {
  height: 25vh;
  width: 25em;
  border: 2px #0e1e32 solid;
}

.title_conteiner {
  text-align: center;
}

.title {
  width: 25em;
  border: 2px #0e1e32 solid;
}

.button_conteiner {
  height: 25px;
  width: 75%;
  align-self: flex-end;
}

.button_conteiner button {
  color: #0e1e32;
  border-color: #0e1e32;
}

.button_conteiner button:hover {
  background-color: #0e1e32;
  color: white;
  border-color: white;
}

.error {
  color: red;
  font-size: 0.8em;
}
