textarea {
    resize: revert !important;
    
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    width: 25em
}
