.background {
  height: 340px;
  position: relative;
  background-color: #0e1e32;
}
.main {
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: auto;
}
.title_conteiner {
  padding: 5% 2.5%;
  text-align: center;
  color: white;
}

.title_conteiner h1 {
  font-family: Serif;
}

.img_conteiner {
  background-color: black;
}

.img_conteiner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.text {
  margin-top: 2%;
  padding: 2% 0%;
  line-height: 1.7em;
  font-size: 1.1em;
  font-family: sans-serif;
  border-top: 1px solid #c31815;
  border-bottom: 1px solid #c31815;
}
