* {
  padding: 0px;
  margin: 0px;
}

.header_conteiner {
  width: 100%;
  padding: 1% 0%;
  background-color: #ffffff;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.categories_conteiner {
  width: 70%;
}
.categories_list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: 1.2em;
  list-style-type: none;
}

.auth_search_conteiner {
  height: 30px;
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.acc {
  font-size: 2em;
  color: red;
}

.acc:hover {
  font-size: 2.2em;
  cursor: pointer;
}
.exit {
  font-size: 2em;
  cursor: pointer;
  color: red;
}

.exit:hover {
  font-size: 2.2em;
}

.search {
  font-size: 2em;
  cursor: pointer;
  color: red;
}

.search:hover {
  font-size: 2.2em;
}

.active_link {
  color: red;
  border-bottom: 2px solid;
  text-decoration: none;
}

.disactive_link {
  color: #0e1e32;
  text-decoration: none;
}

.line_loading {
  width: 100%;
  text-align: center;
}
