.Comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px grey solid;
}

.input {
  align-self: center;
  margin-top: 2%;
}

.error {
  text-align: center;
  color: red;
}

.input {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.comment {
  margin-top: 3%;
  padding: 2%;
  border: 2px solid grey;
  border-radius: 10px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
