.Comments {
    border-top: 2px grey solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    margin-top: 2%;
    align-self: center;
}

.error {
    text-align: center;
    color: red;
}

.input {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width:70%;
}

.comment {
  
    margin-top: 3%;
    border-radius: 10px;
    padding: 2%;
    border: 2px solid grey;
}