.carousel-control-prev-icon {
    background-color: red;
    display: none!important;
}

.carousel-control-next-icon {
    display: none!important;
}

#outlined-basic{
    background-color: white;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-color: red
}



